* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: auto;
  width: auto;
}
#app {
  height: auto;
  display: flex;
  flex-flow: column wrap;
}
.DayApp {
  background-color: #efefef;
}
.NightApp {
  background-color: black;
  color: white;
}

#textarea {
  display: inline-block;
  position: relative;
}
#textarea button {
  top: 0px;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#themeBtn{
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    position: relative;
}
#themeImgContainer{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
}
.NightApp #themeImgContainer{
    right: 0;
    background-color: #efefef;
}
.DayApp #themeImgContainer img{
    filter: brightness(0) invert(1);
}
.DayApp #themeImgContainer{
    background-color: black;
    left: 0;
}
.DayApp #themeBtn{
    background-color: #efefef;
    border: 2px solid black;
}
.NightApp #themeBtn{
    background-color: black;
    border: 2px solid #efefef;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
a, a:active, a:hover{
  text-decoration: none;
}
#previewer h1:first-of-type{
  text-align: center;
}
.DayApp button{
  background-color: #efefef;
  color: black;
}
.NightApp button{
  background-color: black;
  color: white;
}
.DayApp .analysesDisplay svg path{
    stroke: black;
    stroke-width: 1px;
}

.NightApp .analysesDisplay svg path{
  stroke: #fff;
  stroke-width: 1px;
}

.DayApp .clickNotify{
  background-color: ghostwhite;
  border: 5px outset white;
}
.NightApp .clickNotify{
  background-color: #282c34;
  border: 5px inset #333;
}
.red * {
  fill: red;
}

.router-link-active button{
  background-color: blue;
  color: white
}

nav .otherNavDetails a.router-link-active button{
  background-color: purple;
  fill: black;
}

button{
  border: 2px solid #ccc;
}

@media screen and (mix-width: 767px) {
  .lineContainer{
    display: none;
  }
}

@media screen and (max-width: 767px) {
  body, button, input{
    font-size: 16px;
  }
  h1{
    font-size: 24px;
  }
  h2{
    font-size: 23px;
  }
  h3{
    font-size: 22px;
  }
  h4{
    font-size: 21px;
  }
  h5{
    font-size: 20px;
  }
  h6{
    font-size: 19px;
  }
  .lineContainer {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
  
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  body, button, input{
    font-size: 18px;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 29px;
  }
  h3{
    font-size: 28px;
  }
  h4{
    font-size: 27px;
  }
  h5{
    font-size: 26px;
  }
  h6{
    font-size: 25px;
  }
  #themeBtn{
    width: 50px;
    height: 25px;
    border-radius: 20px;
  }
  #themeImgContainer img{
    height: 20px;
  }
  #themeImgContainer{
    border-radius: 20px;
  }
  .lineContainer {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.line {
    position: absolute;
    width: 2px;
    height: 40%;
    background-color: #E5E5E5;
}

.line:nth-child(2) {
    right: 14px;
}

.line:nth-child(1) {
    transform: rotate(90deg);
    right: 14px;
}
}

@media screen and (min-width: 992px) {
  body, button, input{
    font-size: 20px;
  }
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 34px;
  }
  h3{
    font-size: 32px;
  }
  h4{
    font-size: 30px;
  }
  h5{
    font-size: 28px;
  }
  h6{
    font-size: 26px;
  }
  #themeBtn{
    width: 60px;
    height: 30px;
    border-radius: 30px;
  }
  #themeImgContainer img{
    height: 25px;
  }
  #themeImgContainer{
    border-radius: 30px;
  }
}

@media screen and (min-width: 1200px) {
  body{
    font-size: 22px;
  }
  h1{
    font-size: 48px;
  }
  h2{
    font-size: 45px;
  }
  h3{
    font-size: 42px;
  }
  h4{
    font-size: 39px;
  }
  h5{
    font-size: 36px;
  }
  h6{
    font-size: 33px;
  }
}

.imgCon{
  cursor: pointer;
}
#divContent{
  cursor: pointer;
}
#previewer {
  text-align: left;
  line-height: 2em;
  word-wrap: break-word;
}

#previewer ul,
#previewer ol {
  padding-left: 1rem;
  line-height: 1.0em;
}

#previewer a {
  color: #2d8cf0;
}

#previewer blockquote {
  border-left: 2px solid #009a61;
  font-size: 1em;
  padding: 0.5em;
  margin: 1em 0;
  background-color: #666;
  color: #fff;
}

#previewer code {
  font-family: Consolas, Monaco, monospace;
  background-color: #282c34;
  color: #abb2bf;
  padding: 5px;
  border-radius: 4px;
  width: 100%;
}

#previewer pre {
  background: #f0f0f0;
  margin: 1em 0;
  padding: 1em;
  overflow: hidden;
  background-color: #282c34;
  color: #abb2bf;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  max-width: 100%;
  white-space: normal;
  word-break: break-word;
  display: block;
}

#previewer pre code {
  font-family: Consolas, Monaco, monospace;
  padding: 0;
  border-radius: 0;
}

#previewer table {
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: 0;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
}

#previewer table tr td,
#previewer table tr th {
  padding: 0 0.5em;
  line-height: 40px;
  cursor: pointer;
  border: 2px solid #ccc;
  min-width: 100px;
  white-space: nowrap;
  overflow-x: scroll;
}

#previewer img {
  max-width: 100%;
  padding: 1em;
}

#mainSearchContainer #loading{
  margin-top: 20px;
  border-top: 3px outset blue;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  overflow-y: scroll;
  height: 70%;
  width: 100%;
  font-size: x-large;
  text-align: center;
}